In [1]:
import pymysql

db = pymysql.connect(host="localhost",
                     port=3306,
                     user="root",
                     password="mysqlcxq",
                     db="calculator",
                     charset="utf8")
cur = db.cursor()
sql = "select * from deposit"
cur.execute(sql)
cur.fetchall()

((1, 0.25, 2.85),
 (2, 0.5, 3.05),
 (3, 1.0, 3.25),
 (4, 2.0, 4.15),
 (5, 3.0, 12321.0),
 (6, 5.0, 5.25))

In [3]:
sql = "update deposit set rate=100 where time=3"
cur.execute(sql)

0

In [4]:
sql = "select * from deposit"
cur.execute(sql)
cur.fetchall()

((1, 0.25, 2.85),
 (2, 0.5, 3.05),
 (3, 1.0, 3.25),
 (4, 2.0, 4.15),
 (5, 3.0, 100.0),
 (6, 5.0, 5.25))

In [19]:
sql = "select rate from deposit where time <= 0.15 order by time desc"
cur.execute(sql)
data = cur.fetchone()
print(data)

None

In [9]:
from flask import Flask

app = Flask(__name__)


@app.route("/")
def test():
    return "hello world"


@app.route("/deposit_rate")
def get_deposit_rate(time):
    deposit_sql = f"select rate from deposit where time <= {time} order by time desc"
    cur.execute(sql)
    deposit_rate = cur.fetchone()
    if deposit_rate is None:
        return 0
    return deposit_rate[0]


@app.route("/loans_rate")
def get_loans_rate(time):
    
    return 0

In [10]:
app.run()

Could not connect to 127.0.0.1: 3820
Traceback (most recent call last):
  File "D:\Mysoftware_setup\DataSpell 2023.2.1\plugins\python-ce\helpers\pydev\_pydevd_bundle\pydevd_comm.py", line 463, in start_client
    s.connect((host, port))
ConnectionRefusedError: [WinError 10061] 由于目标计算机积极拒绝，无法连接。
Traceback (most recent call last):
  File "D:\Mysoftware_setup\DataSpell 2023.2.1\plugins\python-ce\helpers-pro\jupyter_debug\pydev_jupyter_utils.py", line 81, in attach_to_debugger
    debugger.connect(pydev_localhost.get_localhost(), debugger_port)
  File "D:\Mysoftware_setup\DataSpell 2023.2.1\plugins\python-ce\helpers\pydev\pydevd.py", line 660, in connect
    s = start_client(host, port)
  File "D:\Mysoftware_setup\DataSpell 2023.2.1\plugins\python-ce\helpers\pydev\_pydevd_bundle\pydevd_comm.py", line 463, in start_client
    s.connect((host, port))
ConnectionRefusedError: [WinError 10061] 由于目标计算机积极拒绝，无法连接。
Failed to connect to target debugger.

In [1]:
import time
print(time.time())

1696811995.9183836

In [2]:
import pymysql
import time
print(time.time())
db = pymysql.connect(host="localhost",
                     port=3306,
                     user="root",
                     password="mysqlcxq",
                     db="calculator",
                     charset="utf8")
cur = db.cursor()
c_time = time.time()
pro = "1+1"
ans = "2"
history_sql = f"insert into history(time, pro, ans) values({c_time}, '{pro}', '{ans}')"
cur.execute(history_sql)

1696812190.1806586

OperationalError: (1292, "Incorrect datetime value: '1696812190.184651' for column 'time' at row 1")